<div class="form-group">
	<label for="password-1" class="col-sm-2 control-label">{% if isReset %}New password{% else %}Password{% endif %}</label>
	<div class="col-sm-10">
		<input type="password" class="form-control" id="password-1" name="password-1" placeholder="{{ passwordMinLength }} characters or more" required pattern="{{ '.{' ~ passwordMinLength ~ ',}' }}">
		<p class="help-block">
			Please create a unique password just for this service. It must be at least {{ passwordMinLength }} characters long.
			<br>
			Feel free to write down the password on paper or to use a password manager. You shouldn't have to keep it in mind.
		</p>
	</div>
</div>
<div class="form-group">
	<label for="password-2" class="col-sm-2 control-label">Repeat password</label>
	<div class="col-sm-10">
		<input type="password" class="form-control" id="password-2" name="password-2" placeholder="{{ passwordMinLength }} characters or more" required pattern="{{ '.{' ~ passwordMinLength ~ ',}' }}">
		<p class="help-block">Please repeat your password here, just to prevent any typing errors.</p>
	</div>
</div>
