<div class="form-group">
	<label for="{{ id }}" class="col-sm-2 control-label">{% if isReset %}Old password{% else %}Password{% endif %}</label>
	<div class="col-sm-10">
		<input type="password" class="form-control" id="{{ id }}" name="{{ name }}" placeholder="Your{% if isReset %} old{% endif %} password" required>
		<p class="help-block">
			Please enter your{% if isReset %} old{% endif %} password to verify ownership of your account. This prevents others from locking you out of your account, even if they somehow got access to it for a short time.
		</p>
	</div>
</div>
