* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	padding: 8px;
}
fieldset {
	margin-bottom: 12px;
	padding: 8px 16px;
	border: 2px solid #008000;
}
fieldset legend {
	margin: 4px 8px;
	padding: 2px 4px;
	background-color: #008000;
	color: #fff;
	font-weight: bold;
}
input, select, textarea {
	display: block;
	width: 100%;
	margin-bottom: 12px;
}
textarea {
	min-height: 120px;
}
button {
	display: block;
	margin: 12px 0;
	padding: 4px 8px;
}
#preferences select .mcf-disabled {
	color: #777;
}
#preferences select:not(.mcf-disabled) {
	background: #ff0;
}
